/bundle
/.DS_Store
/Gemfile.lock
/.irb-history
/.bash_history
/.passenger
/.bundle
/.ruby-uuid
/tmp
/documentation/assets/_galleries
/documentation/assets/_layers
/documentation/assets/_images
/vendor
/scenes
/proscape
