{{#display_cast.assets}}
<div class="asset">
{{{to_html}}}
</div>
{{/display_cast.assets}}

{{#with_remote}}
<div id="menu" class="menu">
  <a href="javascript:void(0)" class="close-menu-btn">&times;</a>
  {{{remote}}}
</div>
<span class="open-menu-btn">&#9776;</span>
{{/with_remote}}

<script>
refresh({{walk.state}}, refreshDisplay)
</script>
