<p>Please choose a display to use here</p>

<ul class="button-list displays">
  <li>
    <a href="/remote">Remote control</a>
  </li>
  <li>
    <a href="/qr-codes">QR codes</a>
  </li>
  <li>
    <a href="/doors">Doors</a>
  </li>
  {{#displays}}
  <li>
    <a href="/display/{{identifier}}">Display {{identifier}}</a>
  </li>
  {{/displays}}
</ul>
