<main class="qr-codes">
  <ul>
    <li>
      <canvas id="qr-network"></canvas>
      <h3>Connexion au réseau</h3>
    </li>
    <li>
      <canvas id="qr-remote"></canvas>
      <h3>Télécommande</h3>
    </li>
  </ul>
</main>
