<main class="remote">
  {{{tree}}}

  <ul class="button-list bottom-buttons prev-next">
    <li class="dynamic">
      <a href="{{previous_href}}">
        <i class="fa fa-backward" aria-hidden="true"></i>
      </a>
    </li>
    <li class="dynamic">
      <a href="{{scheduler_toggle_href}}">
        <i id="scheduler_icon" class="fa fa-{{scheduler_icon}}" aria-hidden="true"></i>
      </a>
    </li>
    <li class="dynamic">
      <a href="{{next_href}}">
        <i class="fa fa-forward" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="/switcher">
        <i class="fa fa-cogs" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</main>
