{{{tree}}}

<ul class="remote button-list prev-next">
  <li>
    <a href="{{previous_href}}"><i class="fa fa-backward" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="{{scheduler_toggle_href}}"><i id="scheduler_icon" class="fa fa-{{scheduler_icon}}" aria-hidden="true"></i></a>
  </li>
  <li>
    <a href="{{next_href}}"><i class="fa fa-forward" aria-hidden="true"></i></a>
  </li>
</ul>

<script>
refresh({{{state_json}}}, refreshRemote)
</script>
