<html>
<head>
  <meta charset="utf-8">
  <title>Easycast</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>{{{splash_style}}}</style>
  <style>aside.splash { display: block !important; }</style>
</head>
<body>
{{{yield}}}
<script>{{{splash_script}}}</script>
<script>{{{main_script}}}</script>
</body>
</html>
