<aside class="splash">
  <div>
    <div>
      <h1>Easycast</h1>
      <h2>Diffusion multi-écran low-tech et open-source!</h2>
      <p>En recherche du maître de diffusion...</p>
      <div class="lds-ripple"><div></div><div></div></div>
    </div>
  </div>
</aside>
