<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/vendor.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/easycast.css"/>
  <script src="/assets/vendor.js"></script>
  <script src="/assets/easycast.js"></script>
</head>
<body class="{{body_class}}">
{{{yield}}}
</body>
</html>
