<ul class="button-list remote">
  {{#nodes}}
  <li class="{{css_class}}">
    <a href="/node/{{index}}">{{name}}</a>
  </li>
  {{/nodes}}
  <li class="nav">
    <a href="{{previous_href}}"><i class="fa fa-backward" aria-hidden="true"></i></a>
    <a href="{{next_href}}"><i class="fa fa-forward" aria-hidden="true"></i></a>
  </li>
</ul>

<script>
refreshDisplay({{node_index}})
</script>
